.card
  width: 15rem
  display: inline-block
  margin-right: 5px
  margin-bottom: 5px

  .card-img-top
    display: block
    max-width: 318px
    max-height: 180px
    padding: 5px
    margin: 0 auto
